<%# -- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++# %>

<%= turbo_frame_tag :backlogs_container, refresh: :morph, class: "op-backlogs-page" do %>
  <% if @owner_backlogs.empty? && @sprint_backlogs.empty? %>
    <%=
      render(Primer::Beta::Blankslate.new(border: true, spacious: true)) do |blankslate|
        blankslate.with_visual_icon(icon: :versions)
        blankslate.with_heading(tag: :h2).with_content(t(:backlogs_empty_title))

        if current_user.allowed_in_project?(:create_sprints, @project)
          blankslate.with_description_content(t(:backlogs_empty_action_text))
        end
      end
    %>
  <% else %>
    <div class="op-backlogs-container" data-controller="generic-drag-and-drop">
      <div id="sprint_backlogs_container" class="op-backlogs-lists">
        <%= render(Backlogs::BacklogComponent.with_collection(@sprint_backlogs, project: @project)) %>
      </div>
      <div id="owner_backlogs_container" class="op-backlogs-lists">
        <%= render(Backlogs::BacklogComponent.with_collection(@owner_backlogs, project: @project)) %>
      </div>
    </div>
  <% end %>
<% end %>
