<div class="op-widget-box--header" data-test-selector="op-widget-box--header">
  <div class="op-widget-box--header-title title-container">
    <h3 class="editable-toolbar-title--fixed"><%= title %></h3>
  </div>
</div>
