<div
  id="sharing-modal"
  class=" Overlay--size-large op-share-dialog-modal"
>
  <div class="Overlay-header Overlay-header--large">
    <div class="Overlay-headerContentWrap">
      <div class="Overlay-titleWrap">
        <h1 id="spotModalTitle" class="Overlay-title">
          {{ text.title }}
        </h1>
      </div>
      <div class="Overlay-actionWrap">
        <button
          [attr.aria-label]="text.button_close"
          (click)="closeMe($event)"
          data-test-selector="op-reminder-dialog-modal--close-icon"
          type="button"
          class="close-button Overlay-closeButton">
          <svg x-icon size="small"></svg>
        </button>
      </div>
    </div>
  </div>

  <div class="Overlay-body">
    <turbo-frame
      #frameElement
      id="share_modal_body"
      src="{{this.frameSrc}}">
      <op-content-loader
        viewBox="0 0 180 80"
      >
        <svg:rect height="10" rx="2" ry="2" width="110" x="0" y="0"/>
        <svg:rect height="10" rx="2" ry="2" width="25" x="120" y="0"/>
        <svg:rect height="10" rx="2" ry="2" width="25" x="155" y="0"/>
        <svg:rect height="25%" rx="2" ry="2" width="180" x="0" y="16"/>
      </op-content-loader>
    </turbo-frame>
  </div>
</div>
