<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>

<%=
  render Primer::OpenProject::CollapsibleSection.new(
    id: "labor_budget_items_fieldset",
    display: :block,
    mt: 3,
    data: {
      controller: "costs--budget-subform",
      costs__budget_subform_item_count_value: budget_items.size,
      costs__budget_subform_update_url_value: url_for(action: :update_labor_budget_item, project_id: project.id)
    }
  ) do |section|
%>
  <% section.with_title(tag: :h3) { Budget.human_attribute_name(:labor_budget) } %>
  <% section.with_collapsible_content do %>
    <%= render(table) %>

    <table style="display:none" data-costs--budget-subform-target="template">
      <%= render(template_row) %>
    </table>
  <% end %>
<% end %>
