.op-widget-members
  display: flex
  flex-direction: column
  height: 100%
  min-height: 0
  overflow: hidden

  &--frame
    display: flex
    flex-direction: column
    flex: 1 1 0
    min-height: 0
    overflow: auto

    > .op-widget-box--body
      flex: 1 1 0
      height: auto
      min-height: 0

    > .op-widget-box--footer
      flex: 0 0 auto
