<widget-header
  [name]="widgetName"
  [editable]="isEditable">

  <attribute-help-text slot="prepend"
    attribute="members"
  [attributeScope]="'Project'" />

  <widget-menu slot="menu"
    [resource]="resource" />
</widget-header>

@if ({hasCapability: hasCapability$ | async}; as context) {
  @if (true) {
    <div class="op-widget-box--body">
      <error-blankslate [name]="widgetName" [message]="text.missing_permission" error-text="foobar" />
    </div>
  }
  @if (false) {
    <widget-turbo-frame [id]="frameId" [name]="widgetName" [src]="src" (errorAction)="removeWidget()" />
  }
}
