<div
  class="Overlay"
>
  <div class="Overlay-header">
    <div class="Overlay-headerContentWrap">
      <div class="Overlay-titleWrap">
        <h1 id="spotModalTitle" class="Overlay-title">{{text.header}}</h1>
      </div>
    </div>
  </div>

  <div
    class="Overlay-body"
  >
    <span
      class="spot-body-small"
      [textContent]="text.body()"
    ></span>
  </div>

  <div
    class="spot-action-bar"
  >
    <div
      class="Overlay-footer Overlay-footer--alignEnd"
    >
      <button
        type="button"
        class="button spot-action-bar--action"
        [textContent]="text.buttons.cancel"
        (click)="closeMe()"
      ></button>
      <button
        type="button"
        class="button spot-action-bar--action"
        [textContent]="text.buttons.keepBoth"
        (click)="close(false)"
      ></button>
      <button
        type="button"
        class="button spot-action-bar--action -primary"
        [textContent]="text.buttons.replace"
        (click)="close(true)"
      ></button>
    </div>
  </div>
</div>
