<!-- position: relative added in order for the loading indicator to be positioned correctly -->
<div
  class="te-calendar--container loading-indicator--location"
  [attr.data-indicator-name]="'table'"
  style="position: relative"
>
  <primer-button 
    variant="primary" 
    leading-visual="HeartIcon"
    [content]="'foobar'"
  >Foobar</primer-button>
  <button
    *ngIf="memoizedCreateAllowed"
    class="Button te-calendar--create-button"
    [attr.aria-label]="text.logTime"
    (click)="addEventToday()"
  >
    <op-icon icon-classes="button--icon icon-log_time"></op-icon>
    <span
      class="button--text"
      [textContent]="text.logTime"
      aria-hidden="true"
    ></span>
  </button>
  <ng-container
  *ngIf="(calendarOptions$ | async) as calendarOptions">
    <full-calendar
      #ucCalendar
      *ngIf="calendarOptions"
      [options]="calendarOptions"
    ></full-calendar>
  </ng-container>
</div>
