<style>
    @media (min-width: 640px) {
        #jira-projects-list {
            column-count: 2;
            column-gap: 2rem;
        }
    }

    @media (min-width: 340px) {
        #jira-filter-column {
            min-width: 300px;
        }
    }

    #jira-projects-list .FormControl-checkbox-wrap {
        break-inside: avoid-column;
    }
</style>

<%= flex_layout(flex_wrap: :wrap, mb: 3) do |flex|
  flex.with_column(flex: 1, id: "jira-filter-column") do
    render(Primer::Alpha::TextField.new(
      name: :filter,
      label: I18n.t(:"admin.jira.run.wizard.select_dialog.filter_projects"),
      placeholder: I18n.t(:"admin.jira.run.wizard.select_dialog.filter_projects"),
      visually_hide_label: true,
      input_width: :large,
      leading_visual: { icon: :search },
      show_clear_button: true,
      data: {
        "admin--jira-projects-target": "filterInput",
        action: "input->admin--jira-projects#filter"
      }
    ))
  end
  flex.with_column do
    render(Primer::Beta::Button.new(
      scheme: :invisible,
      tag: :a,
      data: { action: "click->admin--jira-projects#checkAll" }
    )) do |button|
      button.with_leading_visual_icon(icon: :"check-circle")
      I18n.t(:button_check_all)
    end
  end
  flex.with_column do
    render(Primer::Beta::Button.new(
      scheme: :invisible,
      tag: :a,
      data: { action: "click->admin--jira-projects#uncheckAll" }
      )) do |button|
      button.with_leading_visual_icon(icon: :"x-circle")
      I18n.t(:button_uncheck_all)
    end
  end
end %>

<%= settings_primer_form_with(**form_options) do %>
  <section id="jira-projects-list">
    <%=
      render(
        Primer::Alpha::CheckBoxGroup.new(
          name: :projects,
          label: I18n.t(:"admin.jira.columns.projects"),
          visually_hide_label: true
        )
      ) do |group|
        available_projects.each do |project|
          group.check_box(
            value: project["id"],
            label: project["name"],
            caption: project["key"],
            checked: checked?(project["id"]),
            data: {
              "admin--jira-projects-target": "project",
              project_name: project["name"],
              project_key: project["key"]
            }
          )
        end
      end
    %>
  </section>
<% end %>
