.op-widget-project-favorites
  display: flex
  flex-direction: column
  height: 100%

  &--frame
    display: flex
    flex-direction: column
    flex: 1 1 auto

  &--empty
    align-items: center
    justify-content: center
