.op-widget-project-favorites
  display: flex
  flex-direction: column
  height: 100%
  min-height: 0
  overflow: hidden

  &--frame
    display: flex
    flex-direction: column
    flex: 1 1 0
    min-height: 0
    overflow: auto

  &--empty
    align-items: center
    justify-content: center
