<dialog
  open
  class="Overlay Overlay_autoheight confirm-form-submit--modal loading-indicator--location"
  data-indicator-name="modal"
  >
  <div class="Overlay-header Overlay-header--large Overlay-header--divided">
    <div class="Overlay-headerContentWrap">
      <div class="Overlay-titleWrap">
        <h1 id="spotModalTitle" class="Overlay-title">{{text.title}}</h1>
      </div>
    </div>
  </div>

  <div class="Overlay-body">
    @if (showWarning && warningText) {
      <div
        class="op-toast -warning">
        <div class="op-toast--content">
          <p [innerHTML]="warningText"></p>
        </div>
      </div>
    }

    <div class="form--field">
      <div class="form--field-container">
        <div class="form--select-container">
          <!-- eslint-disable-next-line @angular-eslint/template/label-has-associated-control -->
          <label class="form--label" [textContent]="actionService.label"></label>
          <op-autocompleter
            #select
            classes="new-list--action-select"
            [resource]="autocompleterOptions.resource"
            [openDirectly]="true"
            [fetchDataDirectly]="true"
            [getOptionsFn]=autocompleterOptions.getOptionsFn
            (change)="onModelChange($event)"
            >
            @if (autocompleterOptions.resource==='version'; as search) {
              <ng-template op-autocompleter-footer-tmp let-search>
                <button
                  class="op-select-footer--label"
                  type="button"
                  (click)="onNewActionCreated()">
                  <span class="icon-context">
                    <op-icon icon-classes="icon-plus icon-context" />
                    {{ text.button_create }} {{ ngSelectComponent.ngSelectInstance.searchTerm }}
                  </span>
                </button>
              </ng-template>
            }
          </op-autocompleter>
        </div>
      </div>
    </div>
  </div>

  <div class="Overlay-footer Overlay-footer--alignEnd">
    <button
      class="Button Button--secondary Button--medium"
      data-test-selector="confirmation-modal--cancel"
      (click)="closeMe($event)"
      >
      <span class="Button-content">
        <span class="Button-label">{{ text.button_cancel }}</span>
      </span>
    </button>
    <button
      class="Button Button--primary Button--medium"
      data-test-selector="confirmation-modal--confirmed"
      (click)="create()"
      [disabled]="!this.selectedAttribute || inFlight"
      >
      <span class="Button-content">
        <span class="Button-label">{{ text.button_add }}</span>
      </span> 
    </button>
  </div>
</dialog>
