<%# preview: FieldsetComponentPreview#with_legend_text %>
<%# N.B. This is an unstyled component! %>
<%= render(OpPrimer::FieldsetComponent.new(legend_text: "Notification preferences")) do %>
  <div class="d-flex flex-column">
    <label>
      <input type="radio" name="notifications" checked>
      <span>Email me about important updates</span>
    </label>

    <label>
      <input type="radio" name="notifications">
      <span>Only notify me about security issues</span>
    </label>
  </div>
<% end %>
