.full-view-page-layout
  display: grid
  grid-template-columns: 2fr 1fr
  grid-template-rows: auto 1fr
  grid-template-areas: "header right" "left right"

  @media screen and (max-width: $breakpoint-lg)
    grid-template-columns: unset
    grid-template-areas: "header" "right"

    &--left
      display: none

  &--full-width-header
    grid-template-areas: "header header" "left right"
