<div
  class=" op-reminder-dialog-modal"
>
  <div class="Overlay-header Overlay-header--large">
    <div class="Overlay-headerContentWrap">
      <div class="Overlay-titleWrap">
        <h1 id="spotModalTitle" class="Overlay-title" [textContent]="(this.title$ | async) || this.text.new_title"></h1>
        <h2 id="spotModalDescription" class="Overlay-description">{{ text.subtitle }}</h2>
      </div>
      <div class="Overlay-actionWrap">
        <button 
          [attr.aria-label]="text.button_close"
          (click)="closeMe($event)"
          data-test-selector="op-reminder-dialog-modal--close-icon"
          type="button"
          class="close-button Overlay-closeButton">
          <svg x-icon size="small"></svg>
        </button>
      </div>
    </div>
  </div>

  <div class="Overlay-body">
    <turbo-frame
      #frameElement
      id="reminder_modal_body"
      src="{{this.frameSrc}}">
      <op-content-loader
        viewBox="0 0 180 80"
      >
        <svg:rect height="8" rx="2" ry="2" width="30" x="0" y="0"/>
        <svg:rect height="10" rx="2" ry="2" width="180" x="0" y="10"/>

        <svg:rect height="8" rx="2" ry="2" width="30" x="0" y="24"/>
        <svg:rect height="10" rx="2" ry="2" width="180" x="0" y="34"/>

        <svg:rect height="8" rx="2" ry="2" width="30" x="0" y="48"/>
        <svg:rect height="10" rx="2" ry="2" width="180" x="0" y="58"/>

        <svg:rect height="8" rx="2" ry="2" width="50" x="0" y="72"/>
        <svg:rect height="8" rx="2" ry="2" width="50" x="130" y="72"/>
      </op-content-loader>
    </turbo-frame>
  </div>
</div>
