.op-inplace-edit
  &--display-field
    padding: var(--base-size-4) var(--base-size-8)
    border: 1px solid transparent
    border-radius: var(--borderRadius-medium)

    &:hover, &:focus
      border-color: var(--borderColor-default)
      box-shadow: var(--shadow-inset)

    &:not(&_editable)
      cursor: not-allowed
