@import 'helpers'

$board-list-max-width: 300px

.op-board-list
  height: 100%
  max-width: $board-list-max-width
  display: flex
  flex-direction: column

  &:hover
    .op-board-list--menu
      visibility: visible

  &--action-bar
    width: calc(100% - 30px)
    height: 5px
    margin: auto
    display: flex
    overflow: hidden

  &--action-bar-segment
    flex: 1 1 0
    min-width: 0

  &--header
    padding: 5px 15px
    display: flex
    min-height: 52px

    editable-toolbar-title
      flex: 1
      margin-bottom: 0
      margin-right: 0.25rem

  &--toaster-box
    margin-top: 0
    // Avoids having to hide the drag&drop handle of the list
    z-index: 100

  &--add-button
    background-color: var(--body-background)
    width: calc(100% - 30px - #{$scrollbar-size})
    margin: 0 15px
    box-shadow: 1px 1px 3px 0px var(--borderColor-default)

    &:hover
      background-color: #eeeeee50

    &:disabled
      background-color: #cccccc50

  &--menu
    visibility: hidden

  &--query-container
    max-width: inherit
    overflow: hidden
    height: 100%
