<div class="op-toast -info">
  <button type="button" aria-label="<%= t(:button_close) %>" class="op-toast--close icon-context icon-close button--link"></button>
  <div class="op-toast--content">
    <p><%= t("ifc_models.processing_notice.processing_default") %></p>
    <ul>
      <% unconverted.each do |model| %>
        <li><%= model.title %></li>
      <% end %>
    </ul>
  </div>
</div>
