<div class="Box Box--condensed type-form-conf-group">
  <div
    aria-roledescription="Draggable item"
    class="Box-header group-head"
    tabindex="0">
    <span
      aria-label="Drag to reorder"
      class="group-handle-button"
      role="button">
      <primer-grabber-icon class="group-handle" size="16"/>
    </span>
    <op-group-edit-in-place class="Box-title group-name"
      [name]="group.name"
      (onValueChange)="rename($event)" />
    <primer-icon-button
      class="Box-btn-octicon group-delete-button"
      icon="x"
      scheme="invisible"
      size="small"
      tooltip-direction="sw"
      [label]="text.delete_group"
      (clicked)="deleteGroup.emit()"
    />
  </div>
  <ul dragula="attributes" [(dragulaModel)]="group.attributes">
    @for (attribute of group.attributes; track attribute) {
      <li
        aria-roledescription="Draggable item"
        class="Box-row Box-row--focus-blue Box-row--hover-gray type-form-conf-attribute"
        role="option"
        tabindex="0"
        [attr.aria-selected]="focusedKey === attribute.key"
        [attr.data-key]="attribute.key"
        [ngClass]="{ 'navigation-focus': focusedKey === attribute.key }"
        (blur)="focusedKey = null"
        (focus)="focusedKey = attribute.key">
        <span
          aria-label="Drag to reorder"
          class="Box-row--drag-button attribute-handle-button"
          role="button">
          <primer-grabber-icon class="attribute-handle" size="16"/>
        </span>
        <span class="attribute-name">
          {{ attribute.translation }}
          @if (attribute.is_cf) {
            <span
              class="attribute-cf-label"
              [textContent]="text.custom_field">
            </span>
          }
        </span>
        <primer-icon-button
          class="attribute-remove-button"
          icon="x"
          scheme="invisible"
          size="small"
          tooltip-direction="sw"
          [label]="text.remove_attribute"
          (clicked)="removeFromGroup(attribute)"
        />
      </li>
    }
  </ul>
</div> <!-- END attribute group -->
