<div class="Box Box--condensed type-form-conf-group">
  <div class="Box-header group-head">
    <span
      aria-label="Drag to reorder"
      class="group-handle-button"
      role="button">
      <primer-grabber-icon class="group-handle" size="16"/>
    </span>
    <op-group-edit-in-place class="Box-title group-name"
            [name]="group.name"
            (onValueChange)="rename($event)" />
    <primer-icon-button
      class="group-delete-button"
      icon="x"
      scheme="invisible"
      size="small"
      tooltip-direction="sw"
      [label]="text.delete_group"
      (clicked)="deleteGroup.emit()"
    />
  </div>
  <div class="Box-footer group-foot">
    <span class="type-form-query-group--edit-button" >
      <primer-button
        leading-icon="pencil"
        variant="secondary"
        (click)="editQuery.emit()">
        {{text.edit_query}}
      </primer-button>
    </span>
  </div>
</div> <!-- END query group -->
