<div class="toolbar-container -with-dropdown">
  <div class="toolbar toolbar_empty-title">
    <ul class="toolbar-items">
      <li class="toolbar-item">
        <primer-button
          leading-icon="undo"
          (click)="resetToDefault($event)">
          {{text.reset}}
        </primer-button>
      </li>
      @if (typeBanner.eeAvailable) {
        <li
          class="toolbar-item">
          <primer-action-menu>
            <button leading-icon="plus" slot="button" variant="primary">
              {{text.label_group}}
            </button>
            <primer-action-list slot="overlay">
              <primer-action-list-item (click)="createGroup('attribute', '')">{{text.add_group}}</primer-action-list-item>
              <primer-action-list-item (click)="addGroupAndOpenQuery()">{{text.add_table}}</primer-action-list-item>
            </primer-action-list>
          </primer-action-menu>
        </li>
      }
    </ul>
  </div>
</div>

<div class="grid-block wrap">
  <div class="grid-content small-12 medium-6">
    <div dragula="groups" id="draggable-groups" [(dragulaModel)]="groups">
      @for (group of groups; track group) {
        @if (group.type === 'attribute') {
          <op-type-form-attribute-group [group]="group"
            (deleteGroup)="deleteGroup(group)"
            (removeAttribute)="deactivateAttribute($event)" />
        }
        @if (group.type === 'query') {
          <op-type-form-query-group [group]="group"
            (deleteGroup)="deleteGroup(group)"
            (editQuery)="editQuery(group)" />
        }
      }
    </div>
  </div>
  <div class="grid-content small-12 medium-6">
    <div class="Box Box--condensed" id="type-form-conf-inactive-group">
      <div class="Box-header">
        <h3 class="Box-title" [textContent]="text.label_inactive"></h3>
        <span class="color-fg-subtle" [textContent]="text.drag_to_activate"></span>
      </div>
      <ul dragula="attributes" [(dragulaModel)]="inactives">
        @for (inactive_attribute of inactives; track inactive_attribute) {
          <li
            class="Box-row Box-row--focus-blue Box-row--hover-gray type-form-conf-attribute"
            role="option"
            tabindex="0"
            [attr.aria-selected]="focusedKey === inactive_attribute.key"
            [attr.data-key]="inactive_attribute.key"
            [ngClass]="{ 'navigation-focus': focusedKey === inactive_attribute.key }"
            (blur)="focusedKey = null"
            (focus)="focusedKey = inactive_attribute.key">
            <span
              aria-label="Drag to reorder"
              class="attribute-handle-button"
              role="button">
              <primer-grabber-icon class="attribute-handle" size="16" />
            </span>
            <span class="attribute-name">
              {{ inactive_attribute.translation }}
              @if (inactive_attribute.is_cf) {
                <span
                  class="attribute-cf-label"
                  [textContent]="text.custom_field">
                </span>
              }
            </span>
          </li>
        }
      </ul>
    </div>
  </div>
</div><!-- END type form configurator -->
