<div style="max-width: 300px;">
  <%= render(OpPrimer::VerticalTruncateComponent.new(lines:)) do %>
    OpenProject is an open source project management software that supports
    a wide range of project management methodologies, including classic,
    agile, and hybrid approaches.
  <% end %>
</div>
