<dialog
  class="Overlay Overlay-whenNarrow Overlay--size-medium Overlay--motion-scaleFade Overlay--full-whenNarrow Overlay--disableScroll"
  [class.Overlay-overlay_active]="(activeModalInstance$ | async) !== null"
  [class.Overlay-overlay_not-full-screen]="notFullscreen"
  [class.Overlay-overlay_top]="mobileTopPosition"
  #overlay
  (mousedown)="close($event, false)"
  aria-modal="true"
  aria-labelledby="spotModalTitle"
  aria-describedby="spotModalDescription"
  >
  <div cdkTrapFocus cdkTrapFocusAutoCapture style="display:contents">
    <ng-template cdkPortalOutlet></ng-template>
  </div>
</dialog>
