.type-form-conf-group,
#type-form-conf-inactive-group

  .group-handle-button,
  .attribute-handle-button
    cursor: grab

.group-head,
.type-form-conf-attribute
  display: flex
  align-items: baseline
  gap: var(--controlStack-medium-gap-condensed)

  &.Box-header,
  &.Box-row  
    padding-left: var(--stack-padding-spacious)
    padding-right: var(--stack-padding-spacious) 

  &:has(.attribute-handle-button).Box-header,
  &:has(.attribute-handle-button).Box-row,
  &:has(.group-handle-button).Box-header,
  &:has(.group-handle-button).Box-row
    padding-left: var(--stack-padding-condensed)
    padding-right: var(--stack-padding-condensed)

  .attribute-handle-button,
  .group-handle-button
    flex: 0 0 var(--stack-padding-normal)
    width: var(--stack-padding-condensed)

  .attribute-name,
  .group-name
    flex: 1 1 auto
    @include text-shortener(false)

  .attribute-remove-button,
  .group-delete-button
    flex: 0 0 auto

.group-body,
.group-foot
  &.Box-body, &.Box-footer
    padding-left: var(--controlStack-medium-gap-spacious)
    padding-right: var(--controlStack-medium-gap-spacious)
