<div style="max-width: 300px;">
  <%= render(OpPrimer::ExpandableTextComponent.new(direction: :vertical, lines:)) do %>
    OpenProject is an open source project management software that supports
    a wide range of project management methodologies, including classic,
    agile, and hybrid approaches. It provides features for project planning,
    scheduling, task management, time and cost reporting, and team
    collaboration. With its modular architecture, teams can customise their
    workflows to match their specific needs.
  <% end %>
</div>
