<div
  data-indicator-name="modal"
  data-test-selector="static-attribute-help-text--modal"
>
  <div class="Overlay-header Overlay-header--large Overlay-header--divided">
    <div class="Overlay-headerContentWrap">
      <div class="Overlay-titleWrap">
        <h1 id="spotModalTitle" class="Overlay-title">{{ title }}</h1>
      </div>
    </div>
  </div>

  <div class="Overlay-body">
    <span class="spot-body-small">{{ content }}</span>
  </div>

  <div class="Overlay-footer Overlay-footer--alignEnd hidden-for-mobile">
    <button 
      type="button" 
      class="Button Button--secondary Button--medium"
      (click)="closeMe()">
      <span class="Button-content">
        <span class="Button-label">{{ text.close }}</span>
      </span>
    </button>
  </div>
</div>
