<primer-segmented-control 
  aria-label="FOOBAR"
  [name]="name"
  [disabled]="disabled"
  [name]="name"
  [disabled]="disabled"
  [(ngModel)]="value"
  (ngModelChange)="onToggle($event)"
  ngDefaultControl>
  @for (option of options; track option) {
    <primer-segmented-control-item 
      [label]="option.title"
      [value]="option.value"
      data-test-selector="spot-toggle--option"
      [attr.data-qa-disabled]="disabled || undefined"
      [attr.data-qa-active-toggle]="value === option.value"
    />
  }
</primer-segmented-control>
{{value}}
