.op-logo
  width: 130px
  height: var(--header-height)
  margin: 0 0.5rem

  &--link
    margin-top: 16px
    width: 100%
    display: block
    height: 24px
    text-indent: -9999em
    background: no-repeat center
    background-size: contain

  @media screen and (max-width: 850px)
    display: none

  &--icon
    display: none
    background-repeat: no-repeat
    background-position: left center
    background-size: contain
    @media screen and (max-width: 850px)
      display: block
      height: 24px
      width: 24px
