<form
  class="Overlay loading-indicator--location"
  data-indicator-name="modal"
  name="modalSaveForm"
  (submit)="saveQueryAs($event)"
>
  <div class="Overlay-header Overlay-header--large Overlay-header--divided">
    <div class="Overlay-headerContentWrap">
      <div class="Overlay-titleWrap">
        <h1 id="spotModalTitle" class="Overlay-title">{{text.save_as}}</h1>
      </div>
    </div>
  </div>

  <div
    name="modalSaveForm"
    class="Overlay-body"
  >
    <div class="form--field -required">
      <label class="form--label -bold" for="save-query-name" [textContent]="text.label_name"></label>
      <div class="form--field-container">
        <div class="form--text-field-container">
          <input
            class="form--text-field"
            type="text"
            name="save-query-name"
            id="save-query-name"
            #queryNameField
            [(ngModel)]="queryName"
            required
          />
        </div>
      </div>
    </div>
    <div class="spot-divider"></div>

    <h2 class="spot-subheader-extra-small">{{ text.label_visibility_settings }}</h2>

    <query-sharing-form
      [isSave]="true"
      (onChange)="setValues($event)"
      [isStarred]="isStarred"
      [isPublic]="isPublic">
    </query-sharing-form>
  </div>

  <div class="Overlay-footer Overlay-footer--alignEnd">
    <button
      type="button"
      class="Button Button--secondary Button--medium"
      [textContent]="text.button_cancel"
      (click)="closeMe($event)"
    ></button>
    <button
      class="button button_no-margin -primary -with-icon icon-save spot-action-bar--action"
      [textContent]="text.button_save"
      [disabled]="isBusy || !queryName"
    ></button>
  </div>
 </form>
