<div class="form--field -required">
  <%= f.text_field :name, required: true, container_class: "-middle" %>
</div>
<div class="form--field">
  <%= f.text_area :description, container_class: "-middle" %>
</div>

<%= render(::CustomActions::ConditionsComponent.new(custom_action: @custom_action)) %>
<%= render(::CustomActions::ActionsComponent.new(custom_action: @custom_action)) %>
